# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.venv/
venv/
ENV/
env/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.idea/
.vscode/

# Local environment settings
local_settings.py