services:
  web:
    container_name: web
    restart: always
    build: .
    volumes:
      - .:/code
      - static_volume:/code/staticfiles
    ports:
      - "8000:8000"

    command: ["gunicorn", "--bind", "0.0.0.0:8000", "PersonalWebsite.wsgi:application", ]

  nginx:
    container_name: nginx
    build: ./nginx
    ports:
      - "80:80"
    restart: always
    depends_on:
      - web
    volumes:
      - static_volume:/code/staticfiles

volumes:
  static_volume: