{% extends 'MainApp/base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}


<link href="{% static 'MainApp/css/index.css' %}" rel="stylesheet">


<div class="HeroBannerDiv">

    <img class="HeroImage" src="{% static 'MainApp/images/HeroBanner.jpg' %}">

</div>


<div class="container-fluid MainContentDiv">
    <div class="DividerDiv container-fluid">

        <h1>Highschool Software Developer</h1>
        <p>Joshua Monaghan - Year 11</p>
        <p>Whitebridge High School</p>

    </div>

    <div class="container text-center PortfolioDiv">
        <div class="row">
            <h1 style="border-bottom: 1px solid rgb(245, 245, 245);">My Portfolio</h1>
            <div class="col PortfolioItem">
                <h2>Want to learn more about my programming skills and the subjects I am studying?</h2>
                <p>I'm a passionate student that has experience working on various projects that have helped develop my programming skills. Alongside programming, I'm studying software engineering and IDT (Information and Digital Studies) to help me get into university for Software Engineering.</p>
            </div>
            <div class="col PortfolioItem">
                <h2>Want to see some of the projects I have worked on?</h2>
                <p>Console applications, game development, SQL datbases and web development, I'm always eager to take on new challenges or problems which is why programming is the perfect hobby for me. Check out my GitHub repositories to see my code, or explore some of my favorite projects below.</p>
            </div>
            <div class="row">
                <div class="col PortfolioItem">
                    <a href="" class="btn btn-light PortfolioButton">About Me</a>
                </div>
                
                <div class="col PortfolioItem">
                    <a href="" class="btn btn-light PortfolioButton">Projects</a>
                </div>
            
            </div>   
    
        </div>

    </div>
</div>

{% endblock %}

