{% extends 'MainApp/base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}


{% block content %}


    <link href="{% static 'MainApp/css/projects.css' %}" rel="stylesheet">

    <div class="container my-5 ProjectsDiv">
        <h1 class="text-center mb-5">My Projects</h1>
        <div class="row ProjectsRow">
            <!-- Example Project 1 -->
            <div class="col-md-4 mb-4 ">
                
                
                <!-- FortniteGame -->
                
                <div class="card">
                    <div id="forniteCarousel" class="carousel slide CarouselSlide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="{% static 'MainApp/images/ImageCarousel/FortniteAdventureGame/FortniteLobby.jpg' %}" class="d-block w-100" alt="2D Fortnite Lobby">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/FortniteAdventureGame/FortniteLocker.jpg' %}" class="d-block w-100" alt="2D Fortnite Locker">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/FortniteAdventureGame/FortniteDropping.jpg' %}" class="d-block w-100" alt="2D Fortnite Dropping">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/FortniteAdventureGame/FortniteGamePlay.jpg' %}" class="d-block w-100" alt="2D Fortnite Gameplay">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#forniteCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#forniteCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body CardDiv">
                        <h5 class="card-title">Windows Forms 2D Fortnite</h5>
                        <p class="card-text">In year 9 I was given an assigment to create an adventure game using windows forms, the idea was to create a layed out story/adventure game that would be easy to make. 
                            I decided to create a very basic 2d version of Fortnite which includes enemys, weapons and building. 
                            This was by far one of my favourite and most challenging projects which is what got me into programming.
                        </p>

                
                        <a href="https://github.com/JoshMono/FortniteAdventureGame" class="btn btn-light" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>


            <!-- Christmas Project -->


            <div class="col-md-4 mb-4 ">
                <div class="card">
                    <div id="christmasProjectCarousel" class="carousel slide CarouselSlide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="{% static 'MainApp/images/ImageCarousel/ChristmasProject/LandingPage.jpg' %}" class="d-block w-100" alt="Landing Page">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/ChristmasProject/ViewClients.jpg' %}" class="d-block w-100" alt="View All Clients Page">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/ChristmasProject/ViewCompanies.jpg' %}" class="d-block w-100" alt="View All Companies Page">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/ChristmasProject/AddClient.jpg' %}" class="d-block w-100" alt="Add Client Page">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/ChristmasProject/CompanyView.jpg' %}" class="d-block w-100" alt="Company View Page">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#christmasProjectCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#christmasProjectCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body CardDiv">
                        <h5 class="card-title">Simple Django Website</h5>
                        <p class="card-text">Over the 2024/2025 Christmas holidays I decided to create a simple django project that allows companies to track there users. 
                            Your able to create users which are stored using a SQLite database under a table called users.
                            These users can then be edited, deleted, viewed or added to a company.  
                            This project was a great learning experience and helped me understand how django interacts with both the database and how models and forms work.
                        </p>

                
                        <a href="https://github.com/JoshMono/Christmas-Project" class="btn btn-light" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>



            <!-- Check List -->


            <div class="col-md-4 mb-4 ">
                <div class="card">
                    <div id="checkListCarousel" class="carousel slide CarouselSlide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="{% static 'MainApp/images/ImageCarousel/CheckList/LandingPage.jpg' %}" class="d-block w-100" alt="CheckList GUI Empty">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/CheckList/AddItem.jpg' %}" class="d-block w-100" alt="Adding Item To Checklist">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/CheckList/ItemInList.jpg' %}" class="d-block w-100" alt="Item In CheckList">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/CheckList/EditItem.jpg' %}" class="d-block w-100" alt="Editing An Item In CheckList">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/CheckList/DeleteItem.jpg' %}" class="d-block w-100" alt="Deleting An Item In CheckList">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#checkListCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#checkListCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body CardDiv">
                        <h5 class="card-title">Tkinter Check List App</h5>
                        <p class="card-text">In year 10 I was given homework to create a console application that would allow users to create a check list.
                            I decided to take this a step further and create a GUI using tkinter that would allow users to create, edit, delete and view check lists. 
                            This project was incredibly fun and was a great learning experience which helped me understand how tkinter's frame layout system works while making a functional check lists GUI.
                        </p>

                
                        <a href="https://github.com/JoshMono/CheckList" class="btn btn-light" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>


        </div>


        <div class="row ProjectsRow">

            <!-- SQL Database -->
            <div class="col-md-4 mb-4 ">
                <div class="card">
                    <div id="sqlDatabaseCarousel" class="carousel slide CarouselSlide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="{% static 'MainApp/images/ImageCarousel/SQLDatabase/LandingPage.jpg' %}" class="d-block w-100" alt="Console Application Landing Page">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/SQLDatabase/CreateAccount.jpg' %}" class="d-block w-100" alt="Console Application Create Account">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/SQLDatabase/Dashboard.jpg' %}" class="d-block w-100" alt="Console Application Dashboard">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/SQLDatabase/CreateBooking.jpg' %}" class="d-block w-100" alt="Console Application Create Booking">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/SQLDatabase/ViewBookings.jpg' %}" class="d-block w-100" alt="Console Application View Bookings">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#sqlDatabaseCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#sqlDatabaseCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body CardDiv">
                        <h5 class="card-title">Secure SQL Database</h5>
                        <p class="card-text">In year 10 I was given the assigment to create a secure sql datebase that follows the needs for a chosen busniess.
                            I decided to create a database for a bowling alley that would store users and bookings that staff and customers could make.
                            To secure my database, I used the following tecniques:
                        </p>
                        <ul>
                            <li><b>Hashing:</b> I used argon2 a popular one way hashing tool to hash passwords and important data</li>
                            <li><b>Amazon Secret Key Service:</b> I used Amazon's secret key service to track traffic that are requesting the connection string</li>
                            <li><b>Enviourmental Variables:</b> I used enviourmental variables to store the connection information for the Amazon secret key service</li>
                            <li><b>Input Verification:</b> I used input verification to ensure all inputs are suitable for the program</li>
                            <li><b>Parameterised Queries:</b> I used parameterised queries to ensure that no sql injecting could be used to attack the database</li>
                            <li><b>N-teir Architecture:</b> While my app is a console application I still used N-teir architecture to seperate the logic and database</li>
                            <li><b>Two-Factor Authentication:</b> I used Two-Factor authentication to ensure that a users account would be more secure</li>

                        </ul>

                
                        <a href="https://github.com/JoshMono/SQL-Database" class="btn btn-light" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>



            <!-- Pygame World Gen -->


            <div class="col-md-4 mb-4 ">
                <div class="card">
                    <div id="worldGenCarousel" class="carousel slide CarouselSlide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="{% static 'MainApp/images/ImageCarousel/WorldGen/WorldGen1.jpg' %}" class="d-block w-100" alt="2d Platformer Showing Terrain Generation">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/WorldGen/WorldGen2.jpg' %}" class="d-block w-100" alt="2d Platformer Showing Terrain Generation">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/WorldGen/WorldGen3.jpg' %}" class="d-block w-100" alt="2d Platformer Showing Terrain Generation">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#worldGenCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#worldGenCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body CardDiv">
                        <h5 class="card-title">Pygame World Generation</h5>
                        <p class="card-text">In year 10 I was given homework to create a simple world generation program using pygame.
                            In the game, its a 2d platformer where the player can move sideways across the world to see the terrain randomly generated which happens once you reach the edge of the screen.
                            The terrain generation is stored so if u go back into a place you visted it will be the same.
                            Even though this project was only small it was incredibly fun and I had fun messing around with the different world generation settings.
                        </p>

                
                        <a href="https://github.com/JoshMono/World-Generation-Pygame-Homework" class="btn btn-light" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>




            <!-- Software Quiz -->


            <div class="col-md-4 mb-4 ">
                <div class="card">
                    <div id="softwareQuizCarousel" class="carousel slide CarouselSlide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="{% static 'MainApp/images/ImageCarousel/QuizSoftware/LandingPage.jpg' %}" class="d-block w-100" alt="Landing Page To A Tkinter Software Engineering Quiz">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/QuizSoftware/CreateAccount.jpg' %}" class="d-block w-100" alt="Create Account Page">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/QuizSoftware/Dashboard.jpg' %}" class="d-block w-100" alt="Dashboard Page">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/QuizSoftware/Question1.jpg' %}" class="d-block w-100" alt="A Question In The Quiz">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/QuizSoftware/Question2.jpg' %}" class="d-block w-100" alt="A Question In The Quiz">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/QuizSoftware/Question3.jpg' %}" class="d-block w-100" alt="A Question In The Quiz">
                            </div>
                            <div class="carousel-item">
                            <img src="{% static 'MainApp/images/ImageCarousel/QuizSoftware/Question4.jpg' %}" class="d-block w-100" alt="A Question In The Quiz">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#softwareQuizCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#softwareQuizCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body CardDiv">
                        <h5 class="card-title">Software Engineering Quiz</h5>
                        <p class="card-text">In year 10 I was given an assigment to create a console application that would allow users to take a quiz on software engineering questions.
                        The quiz would ask questions about software engineering and would give the user a score at the end.
                        I decided to take it one step further and make it using tkinter which was a very challenging while also adding a json database to store user accounts.
                        This project was my first project that I did in software engineering and ended up getting graded 100%.
                        </p>

                
                        <a href="https://github.com/JoshMono/Josh_SoftwareEng_Task1" class="btn btn-light" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>




        </div>



        </div>







    </div>
{% endblock %}